# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-electron
coverage

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production

# Build
*.exe
*.dmg
*.AppImage
*.deb
*.rpm

# Electron builder
release
build

# Test
test-results
playwright-report
